<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="berber_program.Properties.Settings.berberveritabanıConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\kadircan\Desktop\program setup\berberveritabanı.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="berber_program.Properties.Settings.berberveritabaniConnectionString" connectionString="Data Source=.;Initial Catalog=berberveritabani;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="berber_program.Properties.Settings.berberveritabanidosya" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\veritabanı\berberveritabanı.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
